body {
    background-color: darkgray;
}

.container{
    margin-top: 50px;
    width: 600px;
}

.shopping_item{
    cursor: pointer;
    user-select: none;
}
#text-deco{
    text-decoration: line-through;
}
